@import './base.css';

#app {
  width: 95%; /* Use 95% of the available screen width */
  max-width: none; /* Remove the fixed max-width */
  margin: 0 auto; /* Center the content */
}
:root {
  --section-gap: 80px; /* Decrease the section gap */
}
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}


@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px; /* Set the gap between columns */
  }
}
